version: "3.9"
services:
  api:
    image: "mcr.microsoft.com/devcontainers/go:2-1.24-bookworm"
    volumes:
      - .:/workspace:cached
      - go-mod-cache:/go/pkg/mod
    tty: true
    init: true
    ports:
      - 8080:8080

  db:
    image: postgres:16-alpine
    ports:
      - 5432:5432
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: udemy
      POSTGRES_PASSWORD: udemy
      POSTGRES_DB: udemy
    restart: always

  pgadmin4:
    image: dpage/pgadmin4
    ports:
      - 8090:80
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: user@example.com
      PGADMIN_DEFAULT_PASSWORD: password
      PGADMIN_CONFIG_SERVER_MODE: "False"
      PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED: "False"
    depends_on:
      - db

volumes:
  go-mod-cache:
  postgres-data:
  pgadmin-data:
